.Home{
    height: 83vh;
    width: 100vw;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .content{
    height: 40vh;
    width: 40vw;
    margin-left: 400px !important;
  }
  .content h1,h2{
    font-size: 60px !important;
    color: darkslategray;
  }
  .shop-btn{
    height: 60px;
    width: 150px;
    background: none;
    border: none;
    background-color: darkslategray;
    color: #fff;
    font-size: 25px;
    border-radius: 10px;
    transition: all ease-in-out 0.2s;
  }
  .shop-btn:hover{
    background-color: rgb(212, 247, 247);
    color: darkslategray;
    border: 2px solid darkslategray;
    font-weight: 600;
  }
  